<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Export pdf Datas</title>
    <link rel="stylesheet" href="/css/admin-dashboard.css">
</head>


<body>
    <h1>All Student Data</h1>


    <table width="90%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email Address</th>
                <th>Phone Number</th>
                <!-- <th>Image</th> -->
                <th>Is Verified</th>

            </tr>
        </thead>
        <tbody>
            <% AllUsersData.forEach((user)=>{%>

                <tr style="margin-bottom:10px">
                    <th scope="row">
                        <%= user._id %>
                    </th>
                    <td style="display: flex;align-items: center;">

                        <div style="min-width:60px">
                            <img src="/imageUsers/<%= user.image  %>">
                        </div>
                        <%= user.firstname %>
                            <%= user.lastname %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                    <td>
                        <%= user.phone %>
                    </td>
                    <!-- <td style="max-width:60px">
                    <img src="/imageUsers/<%= user.image  %>">
                </td> -->
                    <td>
                        <% if(user.isVerified===1){ %>
                            <span class="status completed">Completed</span>
                            <% } else{ %>

                                <span class="status pending">Pending</span>
                                <% } %>
                    </td>


                </tr>


                <% }) %>

        </tbody>
    </table>

</body>

</html>