<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/course-style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>My course</title>

</head>

<body>
    <nav class="navigation">
        <h1>DUT E-learning</h1>
        <a href="/home" class="home-back">Back to Home</a>
    </nav>
    <div id="all-enrolled-course">
        <h3>All Enrolled Courses</h3>

        <div class="course-boxs">
            <% courses.forEach((course)=>{
                %>
                <li class="course-box">
                    <img src="/course/<%= course.content.imageCourse%>" class="courseImage">
                    <div class="course-content">
                        <p class="title-course">
                            <%= course.content.title %>
                        </p>
                        <p class="objective-course">
                            <%= course.content.description %>
                        </p>
                        <div class="detail-course">
                            <span>TotalHours:<%= course.content.lectureHours %></span>
                            <span>Credits: <%= course.content.credits %></span>
                        </div>
                        <div class="end-section">
                        <p class="enroll-date">
                            <span>Enroll Date: </span>
                            <% let getTime =course.registrationDate %>
                            <% let enrollTime= `${getTime.getDate()}/${getTime.getMonth()+1}/${getTime.getFullYear()}` %>
                            <%= enrollTime %>
                        </p>
                        <a href="/learn?userId=<%= idUserEnrolled %>&courseId=<%= course.content._id %>" >View Detail</a>
                        </div>
                    </div>


                </li>


                <% } ) %>


        </div>

    </div>



</body>

</html>