<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../partials/head.ejs') %>
</head>

<body>
  <div class="app">
    <header>
      <%- include('../partials/navbar.ejs') %>
    </header>

    <main class="container">
      <div class="form">
        <h1 class="title">Enter a new password</h1>
        <form action="/reset-password" method="post" class="login-form">
          <div class="form-content">
            <label for="newpassword">A new pasword</label>
            <input type="password" placeholder="Enter a new password" name="newpassword" required>
            <input type="hidden" name="userId" value=" <%=user_id %>">
           
          </div>
          <div class="notification">
            <% if(typeof message!='undefined' ){ %>
              <p style="color: red" class="message">
                <%= message %>
              </p>
              <% } %>
          </div>
          <div class="sent">
            <input type="submit" class="submit" value="Update a new password">
          </div>

          
        </form>
      

      </div>



    </main>
    <footer class="copyright">
      <%- include('../partials/footer.ejs') %>
    </footer>
  </div>

</body>

</html>